[submodule "submodules/minetest_game"]
	path = submodules/minetest_game
	url = https://github.com/minetest/minetest_game
[submodule "mods/core/smartfs"]
	path = mods/core/smartfs
	url = https://github.com/minetest-mods/smartfs
[submodule "mods/core/doc"]
	path = mods/core/doc
	url = https://repo.or.cz/minetest_doc_modpack.git
[submodule "mods/entities/item_drop"]
	path = mods/entities/item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "mods/player/hudbars"]
	path = mods/player/hudbars
	url = https://repo.or.cz/minetest_hudbars.git
[submodule "mods/player/xmana"]
	path = mods/player/xmana
	url = https://github.com/tigris-mt/xmana
[submodule "mods/player/player_monoids"]
	path = mods/player/player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "mods/player/armor_monoid"]
	path = mods/player/armor_monoid
	url = https://github.com/minetest-mods/armor_monoid
[submodule "mods/core/craftguide"]
	path = mods/core/craftguide
	url = https://github.com/minetest-mods/craftguide.git
[submodule "mods/core/gdamage"]
	path = mods/core/gdamage
	url = https://github.com/tigris-mt/gdamage.git
[submodule "mods/player/gequip"]
	path = mods/player/gequip
	url = https://github.com/tigris-mt/gequip
[submodule "mods/core/central_message"]
	path = mods/core/central_message
	url = https://repo.or.cz/minetest_central_message.git
[submodule "mods/env/fire"]
	path = mods/env/fire
	url = https://github.com/tigris-mt/fire
[submodule "mods/items/bucket"]
	path = mods/items/bucket
	url = https://github.com/tigris-mt/bucket
[submodule "mods/player/show_wielded_item"]
	path = mods/player/show_wielded_item
	url = https://repo.or.cz/minetest_show_wielded_item.git
[submodule "mods/env/treasurer"]
	path = mods/env/treasurer
	url = https://repo.or.cz/minetest_treasurer.git
[submodule "mods/treasurer/tsm_agnostic_dungeon"]
	path = mods/treasurer/tsm_agnostic_dungeon
	url = https://github.com/tigris-mt/tsm_agnostic_dungeon
[submodule "mods/core/gnode_augment"]
	path = mods/core/gnode_augment
	url = https://github.com/tigris-mt/gnode_augment
[submodule "mods/items/dye"]
	path = mods/items/dye
	url = https://github.com/tigris-mt/dye
[submodule "mods/items/gtextitems"]
	path = mods/items/gtextitems
	url = https://github.com/tigris-mt/gtextitems
[submodule "mods/core/gemai"]
	path = mods/core/gemai
	url = https://github.com/tigris-mt/gemai
[submodule "mods/core/b"]
	path = mods/core/b
	url = https://github.com/tigris-mt/b
[submodule "mods/env/screalms"]
	path = mods/mapgen/screalms
	url = https://github.com/tigris-mt/screalms
[submodule "submodules/2bbcode"]
	path = submodules/2bbcode
	url = https://github.com/lilydjwg/2bbcode
[submodule "mods/player/awards"]
	path = mods/player/awards
	url = https://gitlab.com/rubenwardy/awards.git
[submodule "mods/items/doors"]
	path = mods/items/doors
	url = https://github.com/tigris-mt/doors.git
[submodule "mods/env/bright_night"]
	path = mods/env/bright_night
	url = https://github.com/tigris-mt/bright_night.git
[submodule "mods/core/creative"]
	path = mods/player/creative
	url = https://github.com/tigris-mt/creative.git
[submodule "mods/entities/gprojectiles"]
	path = mods/entities/gprojectiles
	url = https://github.com/tigris-mt/gprojectiles.git
[submodule "mods/items/elevator"]
	path = mods/items/elevator
	url = https://github.com/shacknetisp/elevator
[submodule "mods/items/signs_lib"]
	path = mods/items/signs_lib
	url = https://gitlab.com/shacknetisp/signs_lib.git
[submodule "mods/core/gglobaltick"]
	path = mods/core/gglobaltick
	url = https://github.com/tigris-mt/gglobaltick
