[submodule "submodules/minetest_game"]
	path = submodules/minetest_game
	url = https://github.com/minetest/minetest_game
[submodule "mods/core/smartfs"]
	path = mods/core/smartfs
	url = https://github.com/minetest-mods/smartfs
